@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Shrikhand&family=Vina+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left,#000000,#0e151f, #1e152e,#152338, #131f38);
    background-size: 500% 100%;
    animation: degrade 6s infinite alternate;
}

@keyframes degrade{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x:100%;
    }
}

.navbar {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    text-align: center;
   
}

.img {
    margin-top: 15px;
    width: 140px;
    height: 140px;
}

.img:hover{
    opacity: 30%;
    transition: 500ms;
    transition-timing-function: ease-out;
}

.main {
    width: 100%;
    height: 653px;
    display: flex;
    justify-content: center;
    flex-flow: nowrap;
}

.section {
    width: 100%
}
