@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Shrikhand&family=Vina+Sans&display=swap');


*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.navbar{
    height: 100px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    border: 1px solid rgb(51, 6, 104);
    border-radius: 12px;
}

.logo{
   flex: 20%;
   /* border: 1px solid red; */
   text-align: left;
   margin-left: 10%;
}

.logo h1{
    font-family: 'Carter One', cursive;
    color: #180F4A;
    font-size: 32px;
}

.menu{
   flex: 70%;
   /* border: 1px solid green; */
   text-align: right;
   padding: 20px;
}

.menu a{
    color: #180F4A; 
    text-decoration: none;
    font-size: 25px;
    padding: 20px 16px;
    font-family: 'Carter One', cursive;
}

.menu a:hover{
    color: #b539d4;
    border-top: 4px solid  #da7cff;
    transition: 200ms;
}

#botao{
    background: #180F4A;
    padding: 10px 25px;
    color: beige;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
    text-decoration: none;
}
.botao2{
    background: #180F4A;
    padding: 10px 25px;
    color: beige;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
    text-decoration: none;
}

#botao:hover{
    border: none;
    background:#b539d4 ;
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: rgb(255, 255, 255);
    align-items: center;
    padding-top:100px;
}

.headline{
    flex: 40%;
    margin-left: 10%;
    /* border: 1px solid black; */
    padding: 0;
}

.headline h2{
    font-weight: 800;
    font-size: 20px;
    color: #180F4A;
    margin: 0;
}  

.headline p{
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: 'Carter One', cursive;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 20px;
}

.entrar{
    background: #180F4A;
    padding: 20px;
    color: aliceblue;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.entrar:hover{
    background-color: #b539d4;
}

.img-headline{
    margin-right: 10%;
    flex: 40%;
    /* border: 1px solid red; */
    text-align: center;
}

section{
    display: inline-block;
    margin-top: 80px;
    border: 2px solid rgb(0, 0, 0);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Carter One', cursive;
    color: #180F4A;
}

.servicos{
    display: inline-block;
    margin-top: 5%;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid rgb(222, 112, 255);
    border-radius: 13px;
    cursor: pointer;
    box-shadow: 20px 20px 50px -30px #000000;
}

.card:hover{
  background: #180F4A;  
  color: aliceblue;
  padding: 40px;
}

.card:hover img{
    display: none;
}

.card:hover .card-text{
    display: none;
}

.card:hover .texto-oculto{
    display: inline-block;
}

.card-text p {
    font-family: 'Carter One', cursive;
}

.texto-oculto{
    display: none;
}

footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg,#180F4A,#090422,black);
    text-align: center;
    border-top: 5px solid #b539d4;
}

.logo-rodape{
    padding: 40px;
}

.agencia{
    font-family: 'Carter One', cursive;
    color:antiquewhite;
    font-size: 32px;
}

.texto-oculto a {
    text-decoration: none;
    color: aliceblue;
}

.pai{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-git{
    width: 156px;
    height: 98px;
}





