@media screen and (max-width:1150px){
    .navbar{
        position: relative;
    }

    .menu{
        display: none;
    }

    .logo{
        margin: 0;
        text-align: center;

    }

    .header{
        padding-top: 50px;
    }

    .headline{
        flex: 100%;
        margin: 5px;
        text-align: center;
    }

    .headline p{
        text-align: center;
    }

    .img-headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .card{
        width: 100%;
    }

@media screen and (max-width:1440px){

    .botao2{
        display: inline-block;
    
    }
        
    }
               
}
    
@media screen and (min-width:1151px){

    .botao2{
        display:none;
    } 
     
    }
            
        

    
